div.answer {
    margin: 15px;
}

div.answer .title {
    font-weight: bold;
}

#container-tasks {
    padding: 10px;
}

.actions {
    border-top: 1px dotted #E6E6E6;
    margin-top: 10px;
    padding-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

#tasks {
    margin-top: 10px;
}
#tasks .glyphicon {
    cursor: pointer;
}

.delete-task {
    margin-left: 15px;
}